body {
  margin: 0;
}

/* 이걸 그리드를 만들어야하는 쿼리에만 만들어줘도 됨 */
div {
  float: left;
}

#div1 {
  background-color: #ff0000;
  width: 100%;
  height: 60px;
}

#div2 {
  background-color: #ffa500;
  width: 100%;
  height: 350px;
}

#div3 {
  background-color: #ffff00;
  width: 100%;
  height: 320px;
}

#div4 {
  background-color: #008000;
  width: 100%;
  height: 385px;
}

#div5 {
  background-color: #0000ff;
  width: 100%;
  height: 200px;
}

#div6 {
  background-color: #4b0082;
  width: 100%;
  height: 200px;
}

@media (min-width: 768px) {
  #div1 {
    background-color: #ff0000;
    width: 100%;
    height: 60px;
  }

  #div2 {
    background-color: #ffa500;
    width: 100%;
    height: 562px;
  }

  #div3 {
    background-color: #ffff00;
    width: 100%;
    height: 282px;
  }

  #div4 {
    background-color: #008000;
    width: 50%;
    height: 360px;
  }

  #div5 {
    background-color: #0000ff;
    width: 50%;
    height: 180px;
  }

  #div6 {
    background-color: #4b0082;
    width: 50%;
    height: 180px;
  }
}

@media (min-width: 992px) {
  #div1 {
    background-color: #ff0000;
    width: 100%;
    height: 60px;
  }

  #div2 {
    background-color: #ffa500;
    width: 50%;
    height: 700px;
  }

  #div3 {
    background-color: #ffff00;
    width: 50%;
    height: 350px;
  }

  #div4 {
    background-color: #008000;
    width: 25%;
    height: 350px;
  }

  #div5 {
    background-color: #0000ff;
    width: 25%;
    height: 175px;
  }

  #div6 {
    background-color: #4b0082;
    width: 25%;
    height: 175px;
  }
}
