* {
  box-sizing: border-box;
  font-family: "배달의민족 주아 OTF", sans-serif;
}

body {
  background-color: #f0e8d9;
}

#main {
  color: #58595b;
  margin: 75px 0px;
}

#main h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
}

#main h2 {
  font-size: 32px;
  text-align: center;
}

.box {
  width: 300px;
  background-color: white;
  border: 0px transparent;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 15px 50px 15px;
  color: #58595b;

  float: left;
}

.par {
  /* margin: 0px auto 50px auto; */
  /* margin-bottom: 50px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  width: 660px;
  margin-right: auto;
  margin-left: auto;
}

.chi {
  /* margin-bottom: 50px; */
  /* margin-right: 30px; */
  /* margin-left: auto; */
  /* float: left; */
}

.shi {
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* float: left; */
}

.bur {
  /* margin-right: 30px; */
  /* margin-left: auto; */
  /* clear: left; */
}

.bibi {
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* float: left; */
}

.box img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  /* 박스의 테두리는 둥글게 들어갔지만 그 위에 위치한 이미지가 직각이라 따로 둥글게 먹여줘야함 */
}

.box .text {
  text-align: center;
  padding: 20px;
}

.box .text .menu {
  font-size: 32px;
  margin: 0px 0px 20px 0px;
}

.box .text .info {
  font-size: 16px;
  text-align: left;
  margin: 0px 0px 16px 0px;
}

.box .text .link {
  font-size: 16px;
  text-decoration: none;
}
