body {
  margin: 50px 0;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.logo-block {
  /* display: block;
  margin-right: auto;
  margin-right: auto; */
  text-align: center;
}

.logo-block a {
  text-decoration: none;
}

.logo {
  width: 70px;
  margin: 0px 10px;
}

/* .logo-block a:not(:last-child) {
  margin-right: 20px;
} 이렇게 하는 방법이 있다 */

/* 공간이 마진이 20이 넘는다 
왜냐하면 a 태그가 인라인 요소이다 보니 요소 간의 띄어쓰기가 존재하게 된다.
해결을 하려면 a 태그를 다 붙여주거나 마진을 안줬을 때의 간격을 정확히 알고 마진을 추가하는 방식으로 해결해주면 된다. */
